:root {
	--font-color: #ffffff;
}

.navbar-light .navbar-text {
	color: var(--font-color);
}

.navbar-light .navbar-brand {
	color: var(--font-color);
}

.navbar-light .navbar-toggler {
	color: var(--font-color);
}

.navbar-light .navbar-nav .nav-link {
	color: var(--font-color);
}

.disp-img {
	width: 50%;
	height: 50%;
}

.sensor-row {
	text-align: right;
}

.evento_A {
	color: #6666ff;
}

.evento_U {
	color: #ff6666;
}

.evento_M {
	color: #ffff66;
}